@model CowManagerApp.MVC.Models.CowDiagAdd

<h2>Add Diagnosis for @Model.CowName</h2>

<form asp-action="DiagAdd" asp-controller="Cow" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CowId" value="@Model.CowId" />

    <div class="form-group">
        <label asp-for="SelectedDiseaseId" class="control-label">Disease</label>
        <select asp-for="SelectedDiseaseId" class="form-control" asp-items="@(new SelectList(Model.Diseases, "Id", "Name"))">
            <option value="">Select Disease</option>
        </select>
        <span asp-validation-for="SelectedDiseaseId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Comment" class="control-label">Comment</label>
        <textarea asp-for="Comment" class="form-control"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
@* 
    <button type="submit" class="btn btn-primary">Add Diagnosis</button> *@
    <div class="form-group">
        <input type="submit" value="Add diagnosy" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
