@model CowManagerApp.MVC.Models.CowTreatAdd

<h2>Add Treatment for @Model.CowName</h2>

<form asp-action="TreatAdd" asp-controller="Cow" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CowId" value="@Model.CowId" />
    <input type="hidden" asp-for="CowName" value="@Model.CowName" />

    <div class="form-group">
        <label asp-for="SelectedMedicinetId" class="control-label">Medicine</label>
        <select asp-for="SelectedMedicinetId" class="form-control" asp-items="@(new SelectList(Model.Medicines, "Id", "Name"))">
            <option value="">Select medicicne</option>
        </select>
        <span asp-validation-for="SelectedMedicinetId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Comment" class="control-label">Comment</label>
        <textarea asp-for="Comment" class="form-control"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    @*
    <button type="submit" class="btn btn-primary">Add Diagnosis</button> *@
    <div class="form-group">
        <input type="submit" value="Add diagnosy" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
